html {
  background-color: black;
  padding: 25px;
}
p,
ul {
  color: white;
}
h1,
h2,
h3 {
  color: white;
}
.page-item.active .page-link {
  z-index: 3;
  color: white !important;
  background-color: #1db954 !important;
  border-color: #1db954 !important;
}
#prev-slideshow-btn,
#next-slideshow-btn {
  background-color: #1db954;
}
